.btn
  display inline-block
  height 48px
  padding 0 20px
  background $dark-amber
  border none
  border-radius 3px
  font-size 18px
  font-weight 700
  color #FFF
  text-align center
  transition background .2s, color .2s
  white-space nowrap
  &:hover
    background $btn-hover
    cursor pointer
  &:active
    background $btn-active

.btn-blue 
  background $deep-blue
  &:hover
    background $blue
  &:active
    background $cornflower     

.btn-size
  height 58px
.btn-indent
  padding 0 50px