.head-title
  font-size 40px
  font-weight 700
.bold-title
  font-size 36px
  font-weight 550
.sub-title
  font-size 18px
  margin 0 0 28px
.font-cal
  font-size 16px
  line-height 19px
  font-weight 550