/* COLORS */
$light = #fff
$smoke-white = #f8f8f8
$dark = #000
$gray = #7a7a7a
$gray-neutral = #9b9ba3
$dim-gray = #6c6c6c
$dark-gray = #353535
$dark-gray-blue = #303437
$border-bt = #f37d20
$transport-orange = #f6331e
$red-orange-crayola = #ff4d44
$alizarin-red = #e42c23
$dark-amber = #ff7e00
$sky = #16bcff
$blue = #48A9ED
$deep-blue = #004b85
$cobalt-blue = #0044a4
$cornflower = #3f87d0

$btn-hover = #ff8e1f
$btn-active = #f36f00
$background = #F9F9F9

/* INDENT */
$gutter = 20px