section.advantage.landing-section
    .advantage__container.container
        .advantage__block.grid
            .advantage__title
                .bold-title TripMyDream
                .sub-title сервис для самостоятельного планирования выгодных путешествий
            .advantage__about-us.flex
                .advantage__icon.flex
                    svg.advantage__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-tmd-icon")
                .advantage__head Это удобно
                .advantage__about-us-text Наш сервис мгновенно собирает всю информацию о перелетах и проживании, избавляя вас от необходимости просматиривать десятки разных сайтов
            .advantage__about-us.flex
                .advantage__icon.flex
                    svg.advantage__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-money")
                .advantage__head Это выгодно
                .advantage__about-us-text Мы анализируем цены, скидки и акции по перелетам и видам размещения и предлагаем вам лучшее с учетом указаного бюджета
            .advantage__about-us.flex
                .advantage__icon.flex
                    svg.advantage__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-inspiration")
                .advantage__head Это вдохновляет
                .advantage__about-us-text С TripMyDream вы найдете идеальное место для отдыха - узнавайте, сравнивайте предложения, выбирайте и путешествуйте выгодно
            .advantage__underline
            .advantage__sum-people.flex
                .advantage__counter
                    span.advantage__counter-num 2
                    span.advantage__counter-num 5
                    span.advantage__counter-num 0
                    span.advantage__counter-num 0
                    span.advantage__counter-num 0
                    span.advantage__counter-num 0
                    span.advantage__counter-num 0
                    p.advantage__text человек нашли авиабилеты с TripMyDream
                .advantage__img
                    img(src="assets/images/counter.png")