@import "vars.styl"
@import "mixins.styl"


.avia-promo
  &__list
    grid-template-columns repeat(3, 1fr)
    grid-column-gap 20px
  &__item-title
    font-size 18px
    font-weight 550
  &__img
    bg-img()
    width 100%
    height 200px
    margin-top 10px
    position relative
  &__side-label
    position absolute
    top 25px
    left -8px
    height 50px
    padding 10px 10px 0 10px
    color #fff
    background #f6331e
    text-align center
    border-radius 0 3px 3px 0
    z-index 1
    &::before
      content ''
      position absolute
      left 0
      bottom -8px
      width 0
      height 0
      border-style solid
      border-width 0 8px 8px 0
      border-color transparent #c60000 transparent transparent

  &__side-label-sale
    font-size 17px
    font-weight 700
    line-height 1
  &__side-label-title
    display block
    font-size 10px
    font-weight 400
  &__note
    position absolute
    bottom 0
    left 0
    right 0
  &__row
    grid-template-columns 1fr 1fr
    padding 5px 10px
    color $light
    background-color rgba(0, 0, 0, 0.69)
  &__tab-link
    grid-template-columns 1fr 1fr
    margin-top 10px
    padding 5px 10px
    background #f8f8f8
  &__cell
    flex-direction column
    align-items flex-end
  &__city
    font-size 15px
    font-weight 550
  &__country
    font-size 13px
  &__price-old
    color #c4c4c4
    font-size 13px
    &--change
      color #6c6c6c
  &__price-sale
    display inline-block
    vertical-align middle
    margin-left 5px
    padding 0 5px
    background-color #e42c23
    color $light
    font-size 14px
    font-weight bold
    line-height 20px
    border-radius 3px
  &__price-actual
    color: #ff4d44
    font-size 18px
    font-weight 700
    &--change
      color #e42c23
      font-size 18px
      font-weight 700
  &__price-date
    font-size 12px
    &--change
      color #9b9b9b
      font-size: 12px;
  &__all-stock
    margin-top 30px