section.best.landing-section-min(style="background-image: url('/assets/images/stat-bg.jpg');")
    .best__container.container
        .best__block.text-center.grid
            .best__title.bold-title Мы ищем для вас лучшее среди:
            .best__info
                .best__number 1 млн
                .best__text отелей, вилл,
                    br
                    span апартаментов
            .best__info
                .best__number 150
                .best__text стран
            .best__info
                .best__number 500
                .best__text авиакомпаний
                    br
                    span и лоукостеров