section.brends.landing-section
    .container
        .brends__block.grid
            .brends__title.bold-title О нас говорят
            .brends__press.flex
                img(src="assets/images/1x_ain.png")
            .brends__press.flex
                img(src="assets/images/1x_deloua.png")
            .brends__press.flex
                img(src="assets/images/1x_tsn.png")
            .brends__press.flex
                img(src="assets/images/1x_segodnya.png")
            .brends__press.flex
                img(src="assets/images/1x_ukrainetrue.png")
            .brends__press.flex
                img(src="assets/images/1x_itcua.png")
            .brends__press.flex
                img(src="assets/images/1x_tnooz.png")
            .brends__press.flex
                img(src="assets/images/1x_notey.png")
            .brends__press.flex
                img(src="assets/images/1x_startupticker.png")
            .brends__press.flex
                img(src="assets/images/1x_igate1.png")
            .brends__press.flex
                img(src="assets/images/1x_Facty_i_Kommentarii1.png")
            .brends__press.flex
                img(src="assets/images/1x_business1.png")