@import "vars.styl"
@import "mixins.styl"


.calendar
  bg-img()
  &__container
    justify-content center
  &__block
    max-width 780px
    grid unquote('1fr 2fr 83px / repeat(3, 1fr)')
    background-color rgba(255, 255, 255, 0.8)
    padding 30px 20px
  &__title
    grid-column 1 / 4
  &__item
    padding 0 15px
    border-right 1px solid #A6A6A6
    &:nth-child(4)
      border none
  &__head-title
    &--transform
      text-transform uppercase
  &__text
    margin-top 15px
    font-size 14px
    line-height 16px
  &__low-prices
    grid-column 1 / 4
    align-self end
  &__icon-size
    width 1em
    height 1em
    margin-right 10px
    font-size 18px
    vertical-align middle
    fill $light
