section.calendar.landing-section-min(style="background-image: url('/assets/images/bg_sky.jpg');")
    .calendar__container.container
        .calendar__block.grid
            .calendar__title.bold-title Узнай лучшие цены на весь год!
            .calendar__item
                .calendar__head.font-cal
                    .calendar__head-title Самый
                    .calendar__head-title
                        span.calendar__head-title--transform дешевый
                    .calendar__head-title месяц
                .calendar__text Мы поможем выбрать, когда цена на выбранное вами направление самая дешевая
            .calendar__item
                .calendar__head.font-cal
                    .calendar__head-title Самые
                    .calendar__head-title
                        span.calendar__head-title--transform дешевые
                    .calendar__head-title направления
                .calendar__text Есть время на отдых, но не определились, куда выгодно полететь? Поможем с выбором
            .calendar__item
                .calendar__head.font-cal
                    .calendar__head-title Цены на
                    .calendar__head-title
                        span.calendar__head-title--transform весь год
                    .calendar__head-title по направлению
                .calendar__text Интересуют все цены на год? У нас вы найдете максимум цен на нужное направление
            .calendar__low-prices
                button.calendar__btn.btn.btn-indent
                    svg.calendar__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-date")
                    span Перейти в Календарь низких цен