section.fb-widget.landing-section(style="background-image: url('/assets/images/fb-widget-bg.jpg');")
    .container
        .fb-widget__block.text-center.grid
            .fb-widget__title.bold-title Присоединяйтесь к любителям путешествий!
            .fb-widget__body
                .fb-widget__subtitle Вместе нас уже
                .fb-widget__counter 130 000
                .fb-widget__iframe(data-href='https://www.facebook.com/TRIPMYDREAMcom', data-tabs='timeline', data-height='100', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', fb-xfbml-state='rendered', fb-iframe-plugin-query='adapt_container_width=true&app_id=893778267319892&container_width=350&height=100&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2FTRIPMYDREAMcom&locale=ru_RU&sdk=joey&show_facepile=true&small_header=false&tabs=timeline')
                    span(style='vertical-align: bottom; width: 340px; height: 130px;')
                        iframe(name='f7b23a8153add8', width='1000px', height='100px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:page Facebook Social Plugin', src='https://www.facebook.com/v2.3/plugins/page.php?adapt_container_width=true&app_id=893778267319892&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FlY4eZXm_YWu.js%3Fversion%3D42%23cb%3Df299cd4bc8aff8%26domain%3Dtripmydream.com%26origin%3Dhttps%253A%252F%252Ftripmydream.com%252Ff1392ac0c5f1f1%26relation%3Dparent.parent&container_width=350&height=100&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2FTRIPMYDREAMcom&locale=ru_RU&sdk=joey&show_facepile=true&small_header=false&tabs=timeline', style='border: none; visibility: visible; width: 340px; height: 130px;')
                svg.fb-widget__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-fb")
            .fb-widget__btn            
                button.btn.btn-blue Присоединиться                    