@import "vars.styl"
@import "mixins.styl"


.fb-widget
  bg-img()
  &__block
    grid-template-rows 100px 2fr 48px
    grid-row-gap 30px
  &__title
    align-self center  
  &__body
    position relative  
  &__subtitle
    font-size 24px
  &__counter
    color $deep-blue
    font-size 64px
    font-weight 700
  &__iframe
    position relative
    z-index 2  
  &__icon-size
    width 1em
    height 1em
    fill $deep-blue
    font-size 280px
    position absolute
    left 215px
    top -30px
    z-index 1 