section.fb-widget.landing-section(style="background-image: url('/assets/images/fb-widget-bg.jpg');")
    .fb-widget__container.container
        .fb-widget__block.gridn
            .fb-widget__title.bold-title Присоединяйтесь к любителям путешествий!