@import "vars.styl"


.payment
    padding 17px 0
    background #efefef
    &__block
        grid-template-columns 25% repeat(4, 10%)
        align-items center
        justify-items center
        grid-column-gap 30px