section.payment
    .payment__container.container
        .payment__block.grid
            .payment__text Все денежные операции надежно защищены
            .payment__img
                img(src="assets/images/visa.png")
            .payment__img
                img(src="assets/images/visa-electron.png")
            .payment__img
                img(src="assets/images/mc.png")
            .payment__img
                img(src="assets/images/maestro.png")