section.payment
    .container
        .payment__block.grid
            div Все денежные операции надежно защищены
            div
                img(src="assets/images/visa.png")
            div
                img(src="assets/images/visa-electron.png")
            div
                img(src="assets/images/mc.png")
            div
                img(src="assets/images/maestro.png")