section.search-travels.grid(style="background-image: url('/assets/images/bg.jpg');")
    .search-travels__container.text-center.container.grid
        .search-travels__title
            .head-title Поиск выгодных путешествий
            .sub-title Найди лучшее среди 2000+ направлений. Сэкономь до 80 %
        .search-travels__types.grid
            a.search-travels__item.search-travels__item--offset(href="/")
                .search-travels__icon.flex
                    svg.search-travels__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-s-sea")
                .search-travels__types-name Пляж
            a.search-travels__item(href="/")
                .search-travels__icon.flex
                    svg.search-travels__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-s-exotic")
                .search-travels__types-name Экзотика
            a.search-travels__item(href="/")
                .search-travels__icon.flex
                    svg.search-travels__icon-size.search-travels__icon-add
                        use(xlink:href="assets/images/sprite-aug.svg#icon-s-ski")
                .search-travels__types-name Горнолыжный отдых
            a.search-travels__item(href="/")
                .search-travels__icon.flex
                    svg.search-travels__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-s-sightseeing")
                .search-travels__types-name Экскурсионные города
            a.search-travels__item(href="/")
                .search-travels__icon.flex
                    svg.search-travels__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-s-spa")
                .search-travels__types-name СПА и термы
            a.search-travels__item(href="/")
                .search-travels__icon.flex
                    svg.search-travels__icon-size.search-travels__icon-add
                        use(xlink:href="assets/images/sprite-aug.svg#icon-s-destination")
                .search-travels__types-name Знаю куда