section.subscribe.landing-section-min(style="background-image: url('/assets/images/subscribe-bg.jpg');")
    .container
        .subscribe__block.text-center.grid
            .subscribe__title
                .bold-title Подпишитесь!
                .sub-title Получайте каждую неделю секретные предложения от лучших авиакомпаний и отелей мира
            .subscribe__field
                input.subscribe__input(type="text" placeholder="Укажите свой e-mail")
            .subscribe__send
                button.btn.btn-size.btn-indent Отправить