doctype html
html(lang='ru')

  head
    include ../components/head/head.pug

  body
    .wrapper
      include ../components/header/header
      include ../components/blocks/search-travels
      include ../components/blocks/aviapromo
      include ../components/blocks/calendar
      include ../components/blocks/advantage
      include ../components/blocks/best
      include ../components/blocks/video-player
      include ../components/blocks/fb-widget
      //include ../components/footer/footer

      .overlay

  script(src='./js/main.js')
