doctype html
html(lang='ru')

  head
    include ../components/head/head.pug

  body
    .wrapper
      include ../components/header/header
      include ../components/blocks/search-travels
      include ../components/blocks/aviapromo
      include ../components/blocks/calendar
      include ../components/blocks/advantage
      include ../components/blocks/best
      include ../components/blocks/video-player
      include ../components/blocks/fb-widget
      include ../components/blocks/brends
      include ../components/blocks/subscribe
      include ../components/blocks/info
      include ../components/blocks/ideas-for-traveling
      include ../components/blocks/popular-directions
      include ../components/blocks/popular-flights
      include ../components/blocks/payment
      include ../components/footer/footer

      .overlay

  script(src='./js/main.js')
