doctype html
html(lang='ru')

  head
    include ../components/head/head.pug

  body
    .wrapper
      include ../components/header/header
      //include ../components/footer/footer

      .overlay

  script(src='./js/main.js')
