section.footer.landing-section
    .footer__container.container
        .footer__block.grid
            .footer__copyright.flex
                svg.footer__icon-size
                        use(xlink:href="assets/images/sprite-aug.svg#icon-logo")
                .footer__copyright-year ©2018
                .footer__text TripMyDream — туристический сервис, который помогает подобрать, проанализировать и приобрести лучшие предложения перелета и проживания в любой точке мира. Вся необходимая путешественнику информация — именно здесь!
            .footer__reservation
                button.footer__btn.flex
                    .footer__cell.flex
                        svg.footer__icon-btn
                            use(xlink:href="assets/images/sprite-aug.svg#icon-booking-avia") 
                    span Бронирование авиабилетов
            .footer__social.flex
                a.footer__link-social(href="#")
                    svg.footer__icon-social.footer__icon-social--fb
                        use(xlink:href="assets/images/sprite-aug.svg#icon-social-facebook")                        
                a.footer__link-social(href="#")
                    svg.footer__icon-social.footer__icon-social--tw
                        use(xlink:href="assets/images/sprite-aug.svg#icon-social-twitter")                        
                a.footer__link-social(href="#")
                    svg.footer__icon-social.footer__icon-social--goo
                        use(xlink:href="assets/images/sprite-aug.svg#icon-social-googleplus")                        
                a.footer__link-social(href="#")
                    svg.footer__icon-social.footer__icon-social--inst
                        use(xlink:href="assets/images/sprite-aug.svg#icon-social-instagram")
            .footer__reservation
                button.footer__btn.footer__btn--dark.flex
                    .footer__cell.flex
                        svg.footer__icon-btn
                            use(xlink:href="assets/images/sprite-aug.svg#icon-booking-hotel") 
                    span Бронирование отелей
            nav.footer__nav
                a.footer__link-nav(href="#") Условия предоставления услуг                                              
                a.footer__link-nav(href="#") Политика конфиденциальности                                             
                a.footer__link-nav(href="#") Все страны                                             
                a.footer__link-nav(href="#") Все города                                               
                a.footer__link-nav(href="#") Все авиалинии                                              
                a.footer__link-nav(href="#") Акции                                               
                a.footer__link-nav(href="#") Помощь                                               
                a.footer__link-nav(href="#") Рекламодателям                                           